@model IEnumerable<ASP_Intro.Models.Car>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoitureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoitureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoitureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
